{
  "env": {
    "umd": {
      "plugins": [
        "transform-custom-element-classes",
        ["transform-runtime", { "polyfill": false }]
      ],
      "presets": [
        ["env", {
          "useBuiltIns": "entry"
        }],
        "flow"
      ]
    }
  }
}
